<div class = "flex">
  <% @kittens.each do |kitten| %>
    <div class = "one-kitten">
      <p><strong>Name: </strong><%= kitten.name %></p>
      <p><strong>Age: </strong><%= kitten.age %></p>
      <p><strong>Cuteness: </strong><%= kitten.cuteness %></p>
      <p><strong>Softness: </strong><%= kitten.softness %></p>
      <%= link_to "Kill the poor kitten", kitten_path(kitten), method: :delete, data: {confirm: 'Are you really that bad?'}, :class => 'notice' %>
    </div>
  <% end %>
</div>