<h1>Add a new kitten to our collection!</h1>
<%= form_for :kitten, url: kittens_path do |f| %>
  <% if flash[:notice]  %>
    <p class = "notice"><%= flash[:notice] %></p>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field(:name) %>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field(:age) %>
  </p>

  <p>
    <%= f.label :cuteness %><br>
    <%= f.text_field(:cuteness) %>
  </p>

  <p>
    <%= f.label :softness %><br>
    <%= f.text_field(:softness) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>